<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Movie DB</title>
  <!--link rel="stylesheet" href="css/style.css"-->
</head>
<body>
<h1><%= @title %></h1>
<h3>Genres</h3>
<ul>
  <% @genres.each do |genre| %>
    <li><%= genre.name %></li>
  <% end %>
</ul>
</body>
</html>
